<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef>Orden</th>
    <td mat-cell *matCellDef="let element">#{{ element.order }}</td>
  </ng-container>

  <ng-container matColumnDef="denomination">
    <th mat-header-cell *matHeaderCellDef>Denominación</th>
    <td mat-cell *matCellDef="let element">{{ element.denomination }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Emisor</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="issueDate">
    <th mat-header-cell *matHeaderCellDef>Fecha de emisión (apróx)</th>
    <td mat-cell *matCellDef="let element">{{ element.issueDate }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
