@import '../../../../../styles_constants.scss';

.filter-expansion-panel {
  margin-bottom: 10px;

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }
}

mat-expansion-panel {
  border-radius: 5px;
  background-color: white;
  box-shadow: $appboxshadow;
  border: $appborder;
}
