@import '../../../styles_constants.scss';

#filters {
  overflow-y: auto;
  height: 90vh;
}

#catalog-grid-body {
  overflow-y: auto;
  height: 80vh;
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 50px;

  .catalog-card {
    display: flex;
    justify-content: center;
    height: fit-content;
  }
}

#catalog-table-body {
  overflow-y: auto;
  height: 80vh;
  margin-right: 0px;
  padding-bottom: 50px;
}

@media (max-width: $mediumWidth) {
  #filters {
    overflow-y: visible;
    height: auto;
  }
}