<section class="row">
  <aside id="filters" class="col-2">
    <h3>Filters</h3>
  </aside>
  <section id="catalog" class="col-10">
    <h3>{{ count() }} billetes</h3>
    <h6>Sin filtros aplicados</h6>
    <hr />
    <div class="row">
        @for (b of banknotes(); track b.id) {
            <div class="col-4 mb-3">
                <div class="card text-bg-light">
                  <img
                    [src]="b.imageUrl"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <a class="card-title" [routerLink]="['/catalog', b.id]">
                        <img [src]="b.issuer.country.flagIcon" width="24"> 
                        <span>{{ b.issuer.country.name }} - {{ b.denomination }} [{{ b.issueDate }}]</span>
                    </a>
                    <p class="card-text">#{{b.order}} - Tomo {{ b.volume }}</p>
                    <small class="text-body-secondary card-comment">{{ b.comment }}</small>
                  </div>
                </div>
            </div>
        }
    </div>
  </section>
</section>
