#filters {
  overflow-y: auto;
  position: fixed !important;
  height: 90vh;
}

#catalog-body {
  overflow-y: auto;
  height: 80vh;
  margin-right: 0px;
  padding-top: 16px;
  padding-bottom: 50px;
}
