// ul {
//   list-style-type: none;
//   padding-left: 0px;

//   ul {
//     padding-left: 32px;
//   }
// }

ul {
  padding: 5px;

  li {
    padding-left: 12px;
  }
}

.issuer-name {
  font-size: 14px;
}

.issuer-subgroup {
  font-size: 10px;
  margin-bottom: 0px;
}
