@import '../../../../../styles_constants.scss';

ul {
  padding: 5px;

  li {
    padding-left: 12px;
    cursor: pointer;

    &.active {
      background-color: $appactivefilterbackgroudcolor;
      border-color: $appactivefilterbordercolor;

      .issuer-name {
        color: black;
      }
    }
  }
}

.issuer-name {
  font-size: 14px;
}

.issuer-subgroup {
  font-size: 10px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
