<div class="px-4 py-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="/assets/images/logo.jpg"
    alt=""
    width="72"
    height="57"
  />
  <h3 class="display-5 fw-bold text-body-emphasis">Acerca de la aplicación</h3>
  <div class="col-lg-6 mx-auto">
    <p class="mb-4 main-text">
        <strong>My Banknote Collector</strong> es un proyecto personal sin fines de lucro, creado con el propósito de organizar mi colección de billetes. 
        Las imágenes utilizadas en este catálogo han sido obtenidas de la página web <a href="https://www.numista.es" target="_blank">Numista</a> 
        y se emplean únicamente con fines de referencia, sin intención de infringir derechos de autor.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Ver Catálogo
      </button>
    </div>
  </div>
</div>
