.logo-img {
  border-radius: 10px;
}

.main-text {
  font-size: 20px;
}

.notes-section {
  text-align: left;

  .notes-title {
    padding-left: 30px;
    text-decoration: underline;
  }

  .notes-items {
    font-size: 16px;
  }
}
