hr {
  margin-bottom: 0px;
}

.badge-row {
  display: flex;
  overflow: hidden;

  h6 {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.badge-region, 
.badge-subregion,
.badge-issuer,
.badge-no-filter {
    color: white;
}

.badge-region {
  background-color: #3260a8;
}

.badge-subregion {
  background-color: #4b9ddb;
}

.badge-issuer {
  background-color: #35a2b5;
}

.badge-no-filter {
  background-color: #6c757d;
}
