<div class="catalog-header">
  <mat-expansion-panel class="outlined-expansion-panel" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Mostrando {{ count() }} billetes</mat-panel-title>
      <mat-icon>table_view</mat-icon>
      <mat-icon>grid_view</mat-icon>
      @if (appliedFilter().noFiltersApplied) {
        <mat-icon class="material-symbols-outlined" [matTooltip]="noFiltersAppliedMssg">filter_alt</mat-icon>
      } @else {
        <mat-icon (click)="onRemoveFiltersClick($event)" class="icon-remove-filters" [matTooltip]="removeAppliedFiltersMssg">filter_alt</mat-icon>
      }  
    </mat-expansion-panel-header>
    @if (appliedFilter().someFiltersApplied)
      {
        <div class="badge-row">
          <h6 *ngFor="let f of appliedFilter().regionFilters">
            <span class="badge badge-region">{{ f.name }}</span>
          </h6>
        </div>
        <div class="badge-row">
          <h6 *ngFor="let f of appliedFilter().subregionFilters">
            <span class="badge badge-subregion">{{ f.name }}</span>
          </h6>
        </div>
        <div class="badge-row">
          <h5 *ngIf="appliedFilter().issuerFilter !== null">
            <span class="badge badge-issuer">{{ appliedFilter().issuerFilter?.name }}</span>
          </h5>
        </div>
        <div class="badge-row">
          <h5 *ngIf="appliedFilter().volumeFilter !== null">
            <span class="badge" [class]="badgeClass(appliedFilter().volumeFilterCode)">
              {{ "Álbum " + appliedFilter().volumeFilter?.name }}
            </span>
          </h5>
        </div>
      } @else {
        <div class="badge-row">
          <h5><span class="badge badge-no-filter">{{ noFiltersAppliedMssg }}</span></h5>
        </div>
      }
  </mat-expansion-panel>
  <hr />
</div>