@import '../../../../../styles_constants.scss';

ul {
  padding: 5px;

  li {
    cursor: pointer;

    &.active {
      background-color: $appActiveFilterBackgroudColor;
      border-color: $appActiveFilterBorderColor;
    }

    .volume-badge-container {
      margin-bottom: 2px;
    }

    .volume-details {
      font-size: 12px;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


