<app-filter-expansion-panel title="Albums">
    <ul class="list-group">
        @for (i of volumes(); track i.code) {
            <li class="list-group-item list-group-item-action" 
                [class.active]="i.selected" (click)="applyVolumeFilter(true, i)">
              <div class="d-flex w-100 justify-content-between">
                <span class="issuer-name">{{ i.name }}</span>
                <small class="text-body-secondary">{{ i.counter }}</small>
              </div>
            </li>
        }
    </ul>
</app-filter-expansion-panel>
