@import '../../../../styles_constants.scss';

.card {
  width: 450px;
  box-shadow: $appboxshadow;

  .card-img-top {
    min-height: 150px;
  }

  .card-body {
    border-top: $appborder;

    .card-title {
      text-decoration: none;

      span {
        margin-left: 5px;
        font-weight: 600;
      }

      span:hover {
        text-decoration: underline;
      }
    }

    .card-text {
      margin-top: 5px;
      margin-bottom: 2px;
    }

    .card-comment {
      font-style: italic;
    }
  }
}
