@import 'styles_constants.scss';

* {
  font-family: "Varela Round", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden;
}

// table global styles
thead, tbody, tfoot, tr, td, th {
  border-color: $appbordercolor !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

// custom styles
.badge {
  &.badge-condition-unc {
    color: #CCDBCF;
    background-color: #1D5161;
  }
  
  &.badge-condition-vgood {
    color: #D3EFBF;
    background-color: #41744D;
  }

  &.badge-condition-good {
    color: #5F744E;
    background-color: #D4EDBC;
  }

  &.badge-condition-reg {
    color: #44374D;
    background-color: #FFE5A0;
  }

  &.badge-condition-bad{
    color: #DFBFC9;
    background-color: #B10202;
  }
}

@media (max-width: $mediumWidth) {
  body {
    overflow: auto;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

