$appwhite: ghostwhite;
$appblack: #212529;
$appbordercolor: rgba(0, 0, 0, 0.175);
$appborder: 1px solid $appbordercolor;
$appboxshadow: 2px 2px 4px lightgray;

$appActiveFilterBackgroudColor: #ebf2ff;
$appActiveFilterBorderColor: #b6c7e0;
$appPartialActiveFilterBackgroundColor: #f6ffd982;

$mediumWidth: 768px;

//  Bootstrap custom breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  customxxl: 1775px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  customxxl: 1680px
);