@import 'styles_constants.scss';

* {
  font-family: "Varela Round", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media (max-width: $mediumWidth) {
  body {
    overflow: auto;
  }
}

// Import Bootstrap SCSS source with custom breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  customxxl: 1775px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  customxxl: 1680px
);
@import "../node_modules/bootstrap/scss/bootstrap";

