@import '../../../../../styles_constants.scss';

ul {
  list-style-type: none;
  padding: 5px;

  li {
    ul {
      padding-left: 15px;
    }
  }
  
}

.region-section {
  .form-check-input {
    cursor: pointer;
    margin-top: 0px;
    margin-right: 4px;
    
    label {
      font-size: 14px;
    }
  }

  .subregion-section {
    .form-check-input {
      margin-top: 4px;
    }

    label {
      font-size: 12px;
    }
  }
}
