@import '../../../../../styles_constants.scss';

ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;

  ul {
    padding-left: 10px;
  }
}

.region-section {
  border-top: $appborder;
  margin-bottom: 20px;

  .region-title {
    font-size: 18px;
  }
}
