<div class="filter-expansion-panel">
  <app-filter-expansion-panel title="Regiones">
    <ul>
      @for (r of regionsFilter(); track r.code) {
        <li>
          <mat-checkbox [checked]="r.selected" (change)="applyRegionFilter($event.checked, r.code)">
            {{ r.name }}
          </mat-checkbox>
          <ul>
            @for (sr of r.subItems; track sr.code) {
              <li> {{ sr.name }}</li>
            }
          </ul>
        </li>
      }
    </ul>
  </app-filter-expansion-panel>
</div>
<div class="filter-expansion-panel">
  <app-filter-expansion-panel title="Emisores">
    <ul>
      @for (i of issuersFilter(); track i.code) {
        <li>
          {{ i.name }}
        </li>
      }
    </ul>
  </app-filter-expansion-panel>
</div>


